<div class="row h-100 m-0 bg-dark align-items-center justify-content-center">
    <div class="col">
        <div class="row h-25 m-0 bg-dark align-items-center justify-content-center">

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-0 col-0 pl-0 divfotos">
                <div class="card bg-dark text-white ">
                    <img class="card-img w-100" src="../../assets/images/front-view-of-flask-science-concept.jpg" alt="">
                </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">

                <app-formulario-patron></app-formulario-patron>
            </div>


            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-0 pr-0 col-0 divfotos">
                <div class="card bg-dark text-white">
                    <img class="card-img w-100 h-50" src="../../assets/images/pencil-and-rule.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- <a href='https://www.freepik.es/fotos/espacio'>Foto de Espacio creado por freepik - www.freepik.es</a> -->



</div>