<!-- Formulario de la aplicación -->
<form [formGroup]="formaPat" #fP="ngForm">

    <div class="row my-1">
        <div class="input-group">
            <div class="input-group-prepend label_units">
                <label class="input-group-text  label_units" for="inputGroupSelect01">Magnitud</label>
            </div>
            <!-- En el siguiente Select se escoge la unidad de conversión en la cual se dispara el evento "change" a raiz del cual
            se hace la llamada para obtener las unidades -->
            <select formControlName="sMagnitudPat" class="custom-select" (change)="magnitudChange($event.target.value)" aria-placeholder="Elija magnitud">
                <option value="temperatura">Temperatura</option>
                <option value="presion">Presión</option>
                <option value="masa">Masa</option>
                <option value="longitud">Longitud</option>
                <option value="area">Area</option>
            </select>
        </div>
    </div>
    <div class="row my-1">
        <div class="input-group">
            <div class="input-group-prepend label_units">
                <label class="input-group-text label_units" for="inputGroupSelect01">Unidad Entrada</label>
            </div>
            <!-- En el siguiente Select se escoge la unidad de entrada en la cual se dispara el evento "ngModelChange" 
            para comprobar si ya están todos los datos listos para hacer la llamada el servidor -->
            <select formControlName="uEntradaPat" class="custom-select" id="inputGroupSelect01" (ngModelChange)="convertir()">
                    <option *ngFor="let unidad of unidades" value="{{unidad}}">{{unidad}}</option>
                </select>
        </div>

        <div class="input-group">
            <div class="input-group-prepend label_units">
                <label class="input-group-text  label_units" for="inputGroupSelect01">Valor Entrada</label>
            </div>
            <!-- En el siguiente input se introduce el valor de entrada en la cual se dispara el evento "keyup" 
            para comprobar si ya están todos los datos listos para hacer la llamada el servidor -->
            <input formControlName="vEntradaPat" type="number" class="form-control" placeholder="Introduzca V. Entrada" (keyup)="convertir()">
        </div>

        <div class="input-group">
            <div class="input-group-prepend label_units">
                <label class="input-group-text label_units" for="inputGroupSelect01">Patrón</label>
            </div>
            <select formControlName="patronPat" class="custom-select" id="inputGroupSelect01" (change)="calcularInc()">
                <option *ngFor="let patron of patrones" value="{{patron}}">{{patron}}</option>
            </select>
        </div>

    </div>

    <!-- En el siguiente div se muestra el resultado de la respuesta del servidor y el botón que borra todos los campos
para hacer una nueva conversion -->
    <div class="row my-1">
        <div class="card w-100">
            <div class="card-body p-3">
                <h5 class="card-title">Resultado</h5>
                <p class="card-text">La Incertidumbre resultante es: <b *ngIf="showResult">{{incertidumbrePatron}} {{uniSalida}}</b> </p>
                <p class="card-text alert-danger">{{errorMessage}} </p>
                <button (click)="resetForm()" class="btn btn-primary">Borrar</button>
            </div>
        </div>
    </div>
</form>